
.navbar {
  background-color: #f1f1f1;
  .navbar-brand {
    width: 146px;
    height: 46px;
  }
  .current_page_item {
    .nav-link {
      color: $c-green;
    }
  }
  .container {
    @include media-breakpoint-down(md) {
      position: relative;
    }
  }
  .navbar-toggler {
    @include media-breakpoint-down(md) {
      margin-right: 60px;
    }
  }
  .navbar-nav {
    @include media-breakpoint-down(md) {
      padding-top: 30px;
    }
  }
  div.dropdown {
    @include media-breakpoint-down(md) {
      position: absolute;
      right: 0;
      top: 0;
    }
    .btn {
      padding: 0;
      margin-left: 15px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    .dropdown-menu {
      left: -265px;
      width: 305px;
      padding: 15px;
      background-color: $c-lightgray;
      .btn {
        padding: 6px 10px;
        margin-left: -15px;
        position: relative;
        z-index: 2 !important;
        border-radius: 0 10px 10px 0;
      }
    }
    #search-submit {
      border: solid 1px $c-blue;
      background-color: $c-blue;
      font-size: 1rem;
      color: $c-white;
      @include transition_all;
      &:hover, &:active, &:focus {
        background-color: $c-green;
        border-color: $c-green;
        @include transition_all;
      }
    }
    input {
      border-radius: 10px 0 0 10px;
      border: 1px solid #ced4da;
    }
  }
}