.product-categories {
  margin-right: 70px;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }
  &__title {
    font-size: 1.3rem;
    padding-bottom: 15px;
  }
  ul {
      list-style-type: none; 
      padding: 0;
      li {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 7px;
        padding-bottom: 7px;
        border-bottom: solid 1px $c-lightgray;
        &:last-child {
          margin-bottom: 0;
          border: 0;
        }
        img {
          display: none;
        }
        .count {
          display: none;
        }
      }
    }
}