@import "../node_modules/slick-carousel/slick/slick.scss";
.main-slider {
  &__item {
    margin: 0 10px;
  }
  &__item-wrapper {
    position: relative;
    background-color: $c-black;
    &-text {
      position: absolute;
      z-index: 1;
      color: $c-white;
      width: 80%;
      max-width: 520px;
      text-align: center;
      top: 25%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      @include media-breakpoint-down(lg) {
        top: 10%;
        width: 90%;
      }
      @include media-breakpoint-down(sm) {
        top: 30%;
      }
      h2 {
        font-weight: $fw-light;
        font-size: 1.5rem;
      }
      p {
        font-size: 1.6rem;
        padding: 30px 0;
        @include media-breakpoint-down(lg) {
          font-size: 1.3rem;
          padding: 20px 0;
        }
        @include media-breakpoint-down(md) {
          padding: 5px 0;
          font-size: 1.1rem;
        }
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
    img {
      width: 100%;
      opacity: 0.6;
    }
  }
  .slick-arrow {
    display: none !important;
  }
  .slick-dots {
    position: absolute;
    bottom: 20px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    @include media-breakpoint-down(md) {
      width: 90%;
      margin-left: -45%;
    }
    li {
      display: inline-block;
      margin: 0 10px;
      &.slick-active {
        button {
          background-color: $c-white;
        }
      }
      button {
        background-color: transparent;
        border: solid 1px $c-white;
        font-size: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}