.generic {
  h1, h2, h3, h4, h5 {
    font-size: 1.3rem;
    padding: 15px 0;
  }
  a {
    font-weight: 500;
    color: $c-blue;
    &:hover, &:active, &:focus {
      color: $c-green;
    }
  }
}
.category-title {
  border-bottom: solid 1px $c-lightgray;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 600;
}
.a2a_dd {
  display: none !important;
}
.addtoany_shortcode {
  display: flex;
  justify-content: flex-end;
}